<!-- Main -->
<div id="main">
	<video playsinline autoplay muted loop poster="#" id="bgvid">
    <source src="../../assets/videos/hd1037.webm" type="video/webm">
    <source src="../../assets/videos/hd1037.mp4" type="video/mp4">
	</video>

	<!-- Intro -->
		<article id="intro">
			<h2 class="major">Overview</h2>
			<!-- <span class="image main"><img src="images/pic01.jpg" alt="" /></span> -->
			<p>
				Tish is a passion project and is the result of an experiment 
				about emerging markets, popular on demand economies and communication
				mediums.
			</p>
			<p>
				Tish is a personal assistant that can handle anything you need,
				so you can spend your time how you want assistant whom you can 
				text and ask for help with literally anything, as long as it's 
				legal. Get a sharp and diligent person to handle anything you need.
			</p>
			<p>
				Turbo charge everything you do. Tish lets you effortlessly come 
				up with awesome gift ideas, find you incredible doctors, add more 
				magic to date nights, order intriguing lunches, and much more.
				With the number of things you impressively knock out of the park, 
				people will think you're super human. 
			</p>
		</article>

	<!-- Work -->
		<article id="work">
			<h2 class="major">How It Works</h2>
			<p>
				<ul>
					<li>Send a text message to Tish just like you would to a friend.
							Ask for literally anything, in plain English.</li>
					<li>Tish reads your request and responds within 5 minutes.</li>
					<li>
							Tish clarifies what you're looking for, comes up with a 
							strategy to get it done, and then gets to work. <br />
							Tish can book reservations, get stuff delivered to you, 
							send emails on your behalf, and much, much more.
					</li>
					<li>
							Tish handles multiple requests at once and does not lose 
							track of what's going on. <br />You'll be surprised by 
							how much Tish 	can do. Try it yourself!
					</li>
					<li>
							Tish is free for general questions. If you want a request 
							fulfilled, Tish will charge you $30/hour so you only pay for 
							the time taken to fulfill your request.
					</li>
				</ul>
			</p>
		</article>

	<!-- About -->
		<article id="about">
			<h2 class="major">FAQ</h2>
			<p><ul>
				<li><strong>Where is Tish located?</strong><br />We are based 
				in Washington, DC</li>
				
				<li><strong>What does it cost to use Tish?</strong><br />
				For the time spent on your requests, it is $30/hour, billed 
				by the minute. You only pay for minutes actively spent on your 
				requests. Example: If your request takes 30 minutes, you will 
				be billed $15.00, plus a standard processing fee if you are 
				paying by credit card (2.4% + $0.30).</li>
				
				<li><strong>Is my information secure?</strong><br />Yes. Tish 
				considers all information related to your account as private 
				and takes significant measures to protect it.</li>
				
				<li><strong>What kinds of things can I use Tish for?</strong><br />
				Anything you want. As long as it’s not illegal. Seriously. 
				Here are some real examples of requests people have put into Tish:
				"Get me a doctor's appointment."
				"I need to rent a helicopter for this weekend."
				"I need to buy a car for my wife."
				"Organize my team for conference and set up a location."
				"Set up a romantic date for me and my girlfriend."
				"I need an iOS app created for my startup."
				"I'm running late. Reschedule my meetings for today."
				"I am low on shampoo and conditioner. Can you order it for me?"
				"I’m out of the office today. Check my email and let me know if 
				there’s anything urgent."</li>
				
				<li><strong>What happens if Tish doesn't get me what I want?</strong><br />
				Sometimes, due to factors beyond our control, no services being 
				available in your area, or human error on our end, we may not 
				be able to get you what you want. If this happens, we will apologize 
				and immediately search for the best path forward. This often means 
				hunting for the most relevant alternative as a replacement. If, by any chance, 
				we cannot deliver, you'll not be charged anything.</li>
				
				<li><strong>How long does Tish typically spend on a request?</strong><br />
				That depends on the type of request and can range from 5 minutes to an hour.</li>
				
				<li><strong>How do I pay for goods and services through Tish?</strong><br />
				We will text you the cost of the product and the service along with 
				a link to make Stripe payments. Once payment is handled, we will proceed to fulfill 
				your request.</li>
				
				<li><strong>Do you add a markup to purchases made through Tish?</strong><br />
				No. There is no markup on the purchases you make through Tish. You are 
				charged the exact cost of the items plus a credit card processing 
				fee (2.4% + $0.30). Tish will always confirm the total cost of goods
				and ETA provided by the vendor before moving forward with your request.
				This cost does not include the time Tish spends organizing your request.</li>
			</ul></p>
		</article>
		
	<!-- Contact -->
		<article id="contact">
			<h2 class="major">Say Hello</h2>
			<form method="post" action="contactengine.php">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="Name" id="Name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="Email" id="Email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="Message" id="Message" rows="4"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Reset" /></li>
				</ul>
			</form>
			
		</article>

</div>