<!-- Header -->
<header id="header">
	<div class="logo">
		<span class="icon fa-superpowers"></span>
	</div>
	<div class="content">
		<div class="inner">
			<h1>TISH</h1>
			<h2>Get Anything, On Demand</h2>
			<!--<h2>Text +1(858) 207-3984</h2>-->
			<form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=c476e8a53e7df597d32c80ac2&amp;id=450d5b99e7" 
			method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
			class="validate form-inline signup" target="_blank" novalidate>
	
	
			  <div class="form-group">
			    <input type="email" name="EMAIL" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
			  </div>
			  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true">
			    	<input type="text" name="b_c476e8a53e7df597d32c80ac2_450d5b99e7" 
			    	tabindex="-1" value="">
		    	</div>
			  <button type="submit" class="btn btn-theme">Get Notified!</button>
			</form>	
		</div>
	</div>
	<nav>
		<ul>
			<li><a href="#intro">Overview</a></li>
			<li><a href="#work">How</a></li>
			<li><a href="#about">FAQ</a></li>
			<li><a href="#contact">Contact</a></li>
			<!--<li><a href="#elements">Elements</a></li>-->
		</ul>
	</nav>
</header>